body{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    
}

#secciones, .navbar{
    background-color: #0a192f;
    width: 100%;

}

.navbar-brand, .imgnav {
    background-color: #44af9d !important;
    border-radius: 20% !important;
    height: 10vmin !important;
    width: 11vmin !important;
}


.nav-link.active{
    background-color: #44af9d !important;
}


.nav-link{
    color: #ffffff !important;
}

h1, h2, h4, h5{
    color: #ccd6f6;
}

h6, p{
    color: #a0b1cd;
}

.card{
    background-color: transparent !important;
    border-style: solid !important;
    border-color: #4cc1aa !important;
    border-width: 0.6vmin !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.linkcard{
    color: #4cc1aa !important;
}

.logo{
    height: 30vmin;
    width: 30vmin;
    background-color: #44af9d;
    border-radius: 50%;
    /*box-shadow: 0 0 40px 20px #44af9d;*/
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
    /*box-shadow:
    inset 0 0 50px #fff,      /* inner white *
    inset 20px 0 80px #44af9d,   /* inner left magenta short *
    inset -20px 0 80px #0ff,  /* inner right cyan short *
    inset 20px 0 300px #44af9d,  /* inner left magenta broad *
    inset -20px 0 300px #0ff, /* inner right cyan broad *
    0 0 50px #fff,            /* outer white *
    -10px 0 80px #44af9d,        /* outer left magenta *
    10px 0 80px #0ff;         /* outer right cyan *
    */
}

.contacto{
    height: 60vh;
}

.presentacion, .proyectos, .contacto {
    width: 100%;
}


i{
    font-size: 10vmin;
    color: #4cc1aa;
}

.navbar-toggler{
    background-color: #44af9d !important;
}


@media (min-width: 992px) {
    .navbar-brand, .imgnav {
        background-color: #44af9d !important;
        border-radius: 20% !important;
        height: 6vmin !important;
        width: 6vmin !important;
    }

    .presentacion, .proyectos, .contacto{
        height: 100vh;
        width: 100%;
    }
    
    .logo{
        height: 30vmin;
        width: 30vmin;
        
    }

    i{
        font-size: 5vmin;

    }

    #secciones, .navbar{
        background-color: #0a192f;
    }
 }