:root{

    --fondo: #0B0C10;
    --fondo2: #1F2833;
    --titulo: #66FCF1;
    --texto: #C5C6C7;
    --marco: #45A29E;
}

body{
    position: relative;
    height: 100%;
    background-color: var(--fondo2) !important;
    font-family: 'Courier New', monospace !important;
}

#secciones, .navbar{
    width: 100%;
    background-color: var(--fondo2) !important;
}



.navbar-brand, .imgnav {
    background-color: var(--marco) !important;
    border-radius: 20% !important;
    height: 10vmin !important;
    width: 11vmin !important;
}


.nav-link.active{
    background-color: var(--marco) !important;
    color: var(--fondo) !important;
}


.nav-link{
    color: var(--texto) !important;
}

h1, /* nombre */
h2, 
h4, /* titulo secciones */
h5, /* titulo/enlace proyectos */
h6, /* titulo skills */
p  /* texto, descripcion proyectos y enlaces contacto*/
{
    color: var(--texto);
}


.card{
    background-color: transparent !important;
    border-style: solid !important;
    border-color: var(--marco) !important;
    border-width: 0.6vmin !important;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}


.linkcard{
    color: var(--marco) !important;
}

.logo{
    height: 30vmin;
    width: 30vmin;
    background-color: var(--marco);
    border-radius: 50%;
    /*box-shadow: 0 0 40px 20px #44af9d;*/
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
    /*box-shadow:
    inset 0 0 50px #fff,      /* inner white *
    inset 20px 0 80px #44af9d,   /* inner left magenta short *
    inset -20px 0 80px #0ff,  /* inner right cyan short *
    inset 20px 0 300px #44af9d,  /* inner left magenta broad *
    inset -20px 0 300px #0ff, /* inner right cyan broad *
    0 0 50px #fff,            /* outer white *
    -10px 0 80px #44af9d,        /* outer left magenta *
    10px 0 80px #0ff;         /* outer right cyan *
    */
}

.contacto{
    height: 60vh;
    padding-top: 10rem !important;
}

.presentacion, .proyectos {
    width: 90%;
    padding-top: 5rem !important;
}

i{
    font-size: 10vmin;
    color: var(--marco);
}

.navbar-toggler{
    background-color: var(--marco) !important;
}


@media (min-width: 992px) {
    .navbar-brand, .imgnav {
        background-color: var(--marco) !important;
        border-radius: 20% !important;
        height: 6vmin !important;
        width: 6vmin !important;
    }

    .presentacion, .proyectos, .contacto{
        height: 100vh;
        padding-top: 5rem !important;
    }
    
    .logo{
        height: 30vmin;
        width: 30vmin;
        
    }

    i{
        font-size: 5vmin;

    }

 }