body, html {
    height: 100%;
    }

.bg {
    
    background-color: white;
  
    /* Full height */
    height: 90%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  
fieldset {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
    width: 330px;


	align-items: center;
	justify-content: center;
    text-align: center;
    margin: 0 auto
}

legend {
    padding: 0.2em 0.5em;
    color: black;
    font-size: 90%;
    text-align: center;
  }

.text {
    color: black;
}  